:root {
 box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

#canvas {
  height: auto;
  width: 100vw;
}

